body{
  background-color: #d6ccccde;
  padding-bottom: 50px;
  font-size: large;
}

.top{
  font-family: monospace;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  background-color: rgb(173, 207, 230);
  padding: 10px;
}

.sub{
  font-size: 20px;
  padding: 10px;
}

.card {
  background-color: rgb(174, 202, 183);
}

.img1{
  width: 49%;
  padding: 10px;
}

.img2{
  width: 30%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#img3{
  width: 40%;

  padding-bottom: 20px;
  float:right;
}

.language{
  color:rgb(190, 80, 7);
  font-style: italic;
  font-weight: bold;
}